<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='Home'">
    <meta charset="UTF-8"/>
    <title>BUY</title>


</head>

<body>

<div layout:fragment="content">

    <div class="buyPageDiv container">
        <form th:action="@{/service-order/createOrder}" method="post" class="form-horizontal">

            <div class="buyFlow">
                <img class="pull-left" src="/img/site/simpleLogo.png"/>
                <img class="pull-right" src="/img/site/buyflow.png"/>
                <div style="clear:both"></div>
            </div>
            <div class="address">
                <div class="addressTip">输入收货地址</div>
                <div>

                    <div class="form-group">
                        <label for="address" class="col-sm-1 control-label">详细地址<span class="redStar">*</span></label>
                        <div class="col-sm-10">
                            <textarea id="address" name="address" placeholder="建议您填写详细收货地址，例如接到名称，号码，楼层和房间号等信息" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="post" class="col-sm-1 control-label">邮政编码</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="post" id="post" placeholder="如果您不清楚邮递区号，请填写000000"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="receiver" class="col-sm-1 control-label">收货人<span class="redStar">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="receiver" id="receiver" placeholder="长度不超过25个字符"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mobile" class="col-sm-1 control-label">联系方式<span class="redStar">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="mobile" id="mobile" placeholder="请输入11位手机号码"/>
                        </div>
                    </div>

                </div>


            </div>
            <div class="productList">
                <div class="productListTip">确认订单信息</div>


                <table class="productListTable">
                    <thead>
                    <tr>
                        <th colspan="2" class="productListTableFirstColumn">
                            <img class="tmallbuy" src="/img/site/tmallbuy.png"/>
                            <a class="marketLink" href="#nowhere">店铺：天猫店铺</a>
                            <a class="wangwanglink" href="#nowhere"> <span class="wangwangGif"></span> </a>
                        </th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>配送方式</th>
                    </tr>
                    <tr class="rowborder">
                        <td colspan="2"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody class="productListTableTbody">

                    <tr class="orderItemTR" th:each="orderItem,iterStat : ${orderItems}">
                        <td class="orderItemFirstTD">
                            <img class="orderItemImg" th:src="@{'/img/productSingle_middle/' + ${orderItem.product.productImageId} + '.jpg'}"/>
                        </td>
                        <td class="orderItemProductInfo">
                            <a href="#" class="orderItemProductLink" th:text="${orderItem.product.name}">
                                获取名称失败
                            </a>


                            <img src="/img/site/creditcard.png" title="支持信用卡支付"/>
                            <img src="/img/site/7day.png" title="消费者保障服务,承诺7天退货"/>
                            <img src="/img/site/promise.png" title="消费者保障服务,承诺如实描述"/>

                        </td>
                        <td>

                                <span class="orderItemProductPrice" th:text="|￥${#numbers.formatDecimal(orderItem.product.promotePrice, 0 ,2)}|">-1

                                </span>
                        </td>
                        <td>
                            <span class="orderItemProductNumber" th:text="${orderItem.number}">获取数量失败</span>
                        </td>
                        <td><span class="orderItemUnitSum" th:text="|￥ ${#numbers.formatDecimal(orderItem.number*orderItem.product.promotePrice, 0 ,2)}|">￥

						        </span>
                        </td>


                        <td rowspan="5" class="orderItemLastTD" th:if="${iterStat.count == 1}">
                            <label class="orderItemDeliveryLabel">
                                <input type="radio" value="" checked="checked"/>
                                普通配送
                            </label>

                            <!--

                            <select class="orderItemDeliverySelect form-control">
                                <option>快递 免邮费</option>
                            </select>
                            -->

                        </td>

                    </tr>

                    </tbody>

                </table>
                <div class="orderItemSumDiv">
                    <div class="pull-left">
                        <span class="leaveMessageText">给卖家留言:</span>
                        <span>
					<img class="leaveMessageImg" src="/img/site/leaveMessage.png"/>
				</span>
                        <span class="leaveMessageTextareaSpan">
					<textarea name="userMessage" class="leaveMessageTextarea"></textarea>
					<div>
						<span>还可以输入200个字符</span>
					</div>
				</span>
                    </div>

                    <span class="pull-right" th:text="|店铺合计(含运费):￥ ${total}|">店铺合计(含运费): ￥-1
                    </span>
                </div>


            </div>

            <div class="orderItemTotalSumDiv">
                <div class="pull-right">
                    <span>实付款：</span>
                    <span class="orderItemTotalSumSpan" th:text="|￥ ${total}|">
                        <!--<fmt:formatNumber type="number" value="${total}"
                                                                           minFractionDigits="2"/>
                                                                           -->
                    </span>
                </div>
            </div>

            <div class="submitOrderDiv">
                <button type="submit" class="submitOrderButton">提交订单</button>
            </div>
        </form>
    </div>



    <script>

        $("span.leaveMessageTextareaSpan").hide();
        $("img.leaveMessageImg").click(function(){

            $(this).hide();
            $("span.leaveMessageTextareaSpan").show();
            $("div.orderItemSumDiv").css("height","100px");
        });


    </script>


</div>

</body>
</html>