<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='Home'">
    <meta charset="UTF-8"/>
    <title>BUY</title>


</head>

<body>

<div layout:fragment="content">

    <div class="cartDiv">
        <div class="cartTitle pull-right">
            <span>已选商品  (不含运费)</span>
            <span class="cartTitlePrice">￥0.00</span>
            <button class="createOrderButton" disabled="disabled">结 算</button>
        </div>


        <div class="cartProductList">
            <table class="cartProductTable">
                <thead>
                <tr>
                    <th class="selectAndImage">
                        <img selectit="false" class="selectAllItem" src="/img/site/cartNotSelected.png"/>
                        全选

                    </th>
                    <th>商品信息</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th width="120px">金额</th>
                    <th class="operation">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="cartProductItemTR" th:each="orderItem : ${orderItems}" th:attrappend="oiid=${orderItem.id}">
                    <td>
                        <img selectit="false" class="cartProductItemIfSelected"
                             src="/img/site/cartNotSelected.png" th:attrappend="oiid=${orderItem.id}"/>
                        <a style="display:none" href="#nowhere"><img src="/img/site/cartSelected.png"/></a>
                        <img class="cartProductImg"
                             th:src="@{'img/productSingle_middle/' + ${orderItem.product.productImageId} +'.jpg'}"/>
                    </td>
                    <td>
                        <div class="cartProductLinkOutDiv">
                            <a th:href="@{'/service-product/' + ${orderItem.product.id}}" class="cartProductLink"
                               th:text="${orderItem.product.name}">获取名称失败</a>
                            <div class="cartProductLinkInnerDiv">
                                <img src="/img/site/creditcard.png" title="支持信用卡支付"/>
                                <img src="/img/site/7day.png" title="消费者保障服务,承诺7天退货"/>
                                <img src="/img/site/promise.png" title="消费者保障服务,承诺如实描述"/>
                            </div>
                        </div>

                    </td>
                    <td>
                        <span class="cartProductItemOringalPrice"
                              th:text="|￥${#numbers.formatDecimal(orderItem.product.originalPrice, 0 ,2)}|">￥${oi.product.originalPrice}</span>
                        <span class="cartProductItemPromotionPrice"
                              th:text="|￥${#numbers.formatDecimal(orderItem.product.promotePrice, 0 ,2)}|">￥${oi.product.promotePrice}</span>

                    </td>
                    <td>

                        <div class="cartProductChangeNumberDiv">
                            <span class="hidden orderItemStock " th:attrappend="pid=${orderItem.product.id}"
                                  th:text="${orderItem.product.stock}"></span>
                            <span class="hidden orderItemPromotePrice " th:attrappend="pid=${orderItem.product.id}"
                                  th:text="${orderItem.product.promotePrice}"></span>
                            <a class="numberMinus" href="#nowhere" th:attrappend="pid=${orderItem.product.id}">-</a>
                            <input class="orderItemNumberSetting" autocomplete="off" th:value="${orderItem.number}"
                                   th:attrappend="pid=${orderItem.product.id},oiid=${orderItem.id}"/>
                            <a class="numberPlus" href="#nowhere"
                               th:attrappend="stock=${orderItem.product.stock},pid=${orderItem.product.id}">+</a>
                        </div>

                    </td>
                    <td>
							<span class="cartProductItemSmallSumPrice"
                                  th:attrappend="oiid=${orderItem.id},pid=${orderItem.product.id}"
                                  th:text="|￥${#numbers.formatDecimal(orderItem.product.originalPrice * orderItem.number, 0 ,2)}|">
							    <!--￥<fmt:formatNumber type="number" value="${oi.product.promotePrice*oi.number}"
                                               minFractionDigits="2"/>-->
							</span>

                    </td>
                    <td>
                        <a class="deleteOrderItem" href="#nowhere" th:attrappend="oiid=${orderItem.id}">删除</a>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="cartFoot">
            <img selectit="false" class="selectAllItem" src="/img/site/cartNotSelected.png"/>
            <span>全选</span>
            <!-- 		<a href="#">删除</a> -->

            <div class="pull-right">
                <span>已选商品 <span class="cartSumNumber">0</span> 件</span>

                <span>合计 (不含运费): </span>
                <span class="cartSumPrice">￥0.00</span>
                <button class="createOrderButton" disabled="disabled">结 算</button>
            </div>

        </div>

    </div>


    <div class="modal" id="deleteConfirmModal" tabindex="-1" role="dialog">
        <div class="modal-dialog deleteConfirmModalDiv">
            <div class="modal-content">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                    <h4 class="modal-title">确认删除？</h4>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    <button class="btn btn-primary deleteConfirmButton" id="submit" type="button"
                            href="javascript:void(0);">确认
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/


        var deleteOrderItem = false;
        var deleteOrderItemId = 0;


        $(function () {
            //  删除订单项

            $("a.deleteOrderItem").click(function () {
                deleteOrderItem = false;
                var oiid = $(this).attr("oiid")
                deleteOrderItemId = oiid;
                $("#deleteConfirmModal").modal('show');
            });


            $("button.deleteConfirmButton").click(function () {
                deleteOrderItem = true;
                $("#deleteConfirmModal").modal('hide');
            });

            $('#deleteConfirmModal').on('hidden.bs.modal', function (e) {
                if (deleteOrderItem) {
                    var url = /*[[@{/service-order/deleteOrderItem}]]*/ "";
                    $.post(
                        url,
                        {"orderItemId": deleteOrderItemId},
                        function (result) {
                            if ("success" == result) {
                                $("tr.cartProductItemTR[oiid=" + deleteOrderItemId + "]").hide();
                            }
                            else {
                                location.href = "localhost:18040/service-user/toLogin";
                            }
                        }
                    );

                }
            });


            // 选择按钮

            $("img.cartProductItemIfSelected").click(function () {
                var selectit = $(this).attr("selectit")
                if ("selectit" == selectit) {
                    $(this).attr("src", "img/site/cartNotSelected.png");
                    $(this).attr("selectit", "false")
                    $(this).parents("tr.cartProductItemTR").css("background-color", "#fff");
                }
                else {
                    $(this).attr("src", "img/site/cartSelected.png");
                    $(this).attr("selectit", "selectit")
                    $(this).parents("tr.cartProductItemTR").css("background-color", "#FFF8E1");
                }
                syncSelect();
                syncCreateOrderButton();
                calcCartSumPriceAndNumber();
            });

            //全选按钮
            $("img.selectAllItem").click(function () {
                var selectit = $(this).attr("selectit")
                if ("selectit" == selectit) {
                    $("img.selectAllItem").attr("src", "img/site/cartNotSelected.png");
                    $("img.selectAllItem").attr("selectit", "false")
                    $(".cartProductItemIfSelected").each(function () {
                        $(this).attr("src", "img/site/cartNotSelected.png");
                        $(this).attr("selectit", "false");
                        $(this).parents("tr.cartProductItemTR").css("background-color", "#fff");
                    });
                }
                else {
                    $("img.selectAllItem").attr("src", "img/site/cartSelected.png");
                    $("img.selectAllItem").attr("selectit", "selectit")
                    $(".cartProductItemIfSelected").each(function () {
                        $(this).attr("src", "img/site/cartSelected.png");
                        $(this).attr("selectit", "selectit");
                        $(this).parents("tr.cartProductItemTR").css("background-color", "#FFF8E1");
                    });
                }
                syncCreateOrderButton();
                calcCartSumPriceAndNumber();


            });


            $(".orderItemNumberSetting").keyup(function () {
                var pid = $(this).attr("pid");
                var stock = $("span.orderItemStock[pid=" + pid + "]").text();
                var price = $("span.orderItemPromotePrice[pid=" + pid + "]").text();

                var num = $(".orderItemNumberSetting[pid=" + pid + "]").val();
                num = parseInt(num);
                if (isNaN(num))
                    num = 1;
                if (num <= 0)
                    num = 1;
                if (num > stock)
                    num = stock;

                syncPrice(pid, num, price);
            });

            $(".numberPlus").click(function () {

                var pid = $(this).attr("pid");
                var stock = $("span.orderItemStock[pid=" + pid + "]").text();
                var price = $("span.orderItemPromotePrice[pid=" + pid + "]").text();
                var num = $(".orderItemNumberSetting[pid=" + pid + "]").val();

                num++;
                if (num > stock)
                    num = stock;
                syncPrice(pid, num, price);
            });
            $(".numberMinus").click(function () {
                var pid = $(this).attr("pid");
                var stock = $("span.orderItemStock[pid=" + pid + "]").text();
                var price = $("span.orderItemPromotePrice[pid=" + pid + "]").text();

                var num = $(".orderItemNumberSetting[pid=" + pid + "]").val();
                --num;
                if (num <= 0)
                    num = 1;
                syncPrice(pid, num, price);
            });


            $("button.createOrderButton").click(function () {
                var params = "";
                $(".cartProductItemIfSelected").each(function () {
                    if ("selectit" == $(this).attr("selectit")) {
                        var oiid = $(this).attr("oiid");
                        params += "&orderItemIds=" + oiid;
                    }
                });
                params = params.substring(1);
                location.href = "buy?" + params;
            });


        })


        function syncCreateOrderButton() {
            var selectAny = false;
            $(".cartProductItemIfSelected").each(function () {
                if ("selectit" == $(this).attr("selectit")) {
                    selectAny = true;
                }
            });

            if (selectAny) {
                $("button.createOrderButton").css("background-color", "#C40000");
                $("button.createOrderButton").removeAttr("disabled");
            }
            else {
                $("button.createOrderButton").css("background-color", "#AAAAAA");
                $("button.createOrderButton").attr("disabled", "disabled");
            }

        }

        function syncSelect() {
            var selectAll = true;
            $(".cartProductItemIfSelected").each(function () {
                if ("false" == $(this).attr("selectit")) {
                    selectAll = false;
                }
            });

            if (selectAll)
                $("img.selectAllItem").attr("src", "img/site/cartSelected.png");
            else
                $("img.selectAllItem").attr("src", "img/site/cartNotSelected.png");


        }

        function calcCartSumPriceAndNumber() {
            var sum = 0;
            var totalNumber = 0;
            $("img.cartProductItemIfSelected[selectit='selectit']").each(function () {
                var oiid = $(this).attr("oiid");
                var price = $(".cartProductItemSmallSumPrice[oiid=" + oiid + "]").text();
                price = price.replace(/,/g, "");
                price = price.replace(/￥/g, "");
                sum += new Number(price);

                var num = $(".orderItemNumberSetting[oiid=" + oiid + "]").val();
                totalNumber += new Number(num);

            });

            $("span.cartSumPrice").html("￥" + formatMoney(sum));
            $("span.cartTitlePrice").html("￥" + formatMoney(sum));
            $("span.cartSumNumber").html(totalNumber);
        }

        function syncPrice(pid, num, price) {
            $(".orderItemNumberSetting[pid=" + pid + "]").val(num);
            var cartProductItemSmallSumPrice = formatMoney(num * price);
            $(".cartProductItemSmallSumPrice[pid=" + pid + "]").html("￥" + cartProductItemSmallSumPrice);
            calcCartSumPriceAndNumber();

            var url = /*[[@{/service-order/changeOrderItem}]]*/ "";
            $.post(
                url,
                {"productId": pid, "number": num},
                function (result) {
                    if ("success" != result) {
                        location.href = "localhost:18040/service-user/toLogin";
                    }
                }
            );

        }


        function formatMoney(num){
            num = num.toString().replace(/\$|\,/g,'');
            if(isNaN(num))
                num = "0";
            sign = (num == (num = Math.abs(num)));
            num = Math.floor(num*100+0.50000000001);
            cents = num%100;
            num = Math.floor(num/100).toString();
            if(cents<10)
                cents = "0" + cents;
            for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                num = num.substring(0,num.length-(4*i+3))+','+
                    num.substring(num.length-(4*i+3));
            return (((sign)?'':'-') + num + '.' + cents);
        }


        /*]]>*/

    </script>


</div>

</body>
</html>
