<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='Home'">
    <meta charset="UTF-8"/>
    <title>Home</title>


</head>

<body>


<div layout:fragment="content">

    <div class="categoryWithCarousel">

        <div class="headbar show1">
            <div class="head ">

                <span style="margin-left:10px" class="glyphicon glyphicon-th-list"></span>
                <span style="margin-left:10px">商品分类</span>

            </div>

            <div class="rightMenu">
                <span><a href=""><img src="img/site/chaoshi.png"/></a></span>
                <span><a href=""><img src="img/site/guoji.png"/></a></span>

                <span th:each="category,iterStat : ${categories}" th:if="${iterStat.count le 4}">
                        <a href="#" th:text="${category.name}"/>
                </span>

            </div>

        </div>


        <!-- 左侧分类列表 -->

        <div style="position: relative">

            <div class="categoryMenu">
                <div class="eachCategory" th:each="category : ${categories}" th:attrappend="cid=${category.id}">

                    <span class="glyphicon glyphicon-link"/>
                    <a href="#" th:text="${category.name}"/>

                </div>
            </div>
        </div>


        <!-- 详细分类列表 -->

        <div style="position: relative;left: 0;top: 0;">


            <div class="productsAsideCategorys" th:each="category : ${categories}"
                 th:attrappend="cid=${category.id}">

                <div class="row" th:each="productsByRow : ${category.getProductsByRow()}">
                    <a th:each="productHomeVo : ${productsByRow}" th:href="@{'/service-product/' + ${productHomeVo.id} }"
                       th:text="${productHomeVo.subTitle.split(' ')[0]}"/>
                    <div class="seperator"></div>
                </div>

            </div>


        </div>

        <!--轮播图-->
        <div id="carousel-of-product" class="carousel-of-product carousel slide1" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-of-product" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-of-product" data-slide-to="1"></li>
                <li data-target="#carousel-of-product" data-slide-to="2"></li>
                <li data-target="#carousel-of-product" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="carousel carouselImage" src="img/lunbo/1.jpg"/>
                </div>
                <div class="item">
                    <img class="carouselImage" src="img/lunbo/2.jpg"/>
                </div>
                <div class="item">
                    <img class="carouselImage" src="img/lunbo/3.jpg"/>
                </div>

                <div class="item">
                    <img class="carouselImage" src="img/lunbo/4.jpg"/>
                </div>

            </div>

            <!-- Controls
            <a class="left carousel-control" href="#carousel-of-product" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

            </a>
            <a class="right carousel-control" href="#carousel-of-product" role="button" data-slide="next">

                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

            </a>

            -->

        </div>


        <div class="carouselBackgroundDiv"></div>

    </div>


    <!--产品列表-->
    <div class="homepageCategoryProducts">

        <div class="eachHomepageCategoryProducts" th:each="category : ${categories}">

            <!--分类名-->
            <div class="left-mark"></div>
            <span class="categoryTitle" th:text="${category.name}">默认</span>

            <br/>

            <!--商品列表名-->
            <div class="productItem" th:each="product,iterStat : ${category.productList}"
                 th:if="${iterStat.count le 5}">


                <a th:href="@{'/service-product/' + ${product.id} }">
                    <img width="100px"
                         th:src="@{'img/productSingle_middle/' + ${product.firstProductImage.id} + '.jpg'}"/>
                </a>

                <a class="productItemDescLink" th:href="@{'/service-product/' + ${product.id} }">
                    <span class="productItemDesc" th:text="${#strings.abbreviate(product.name,20)}">默认</span>
                </a>



                <span class="productPrice" th:text="${#numbers.formatDecimal(product.promotePrice, 0 ,2)}"></span>


            </div>

            <div style="clear:both"></div>

        </div>

        <img id="endpng" class="endpng" src="img/site/end.png"/>

    </div>

    <script>
        function showProductsAsideCategorys(cid) {
            $("div.eachCategory[cid=" + cid + "]").css("background-color", "white");
            $("div.eachCategory[cid=" + cid + "] a").css("color", "#87CEFA");
            $("div.productsAsideCategorys[cid=" + cid + "]").show();
        }


        function hideProductsAsideCategorys(cid) {
            $("div.eachCategory[cid=" + cid + "]").css("background-color", "#e2e2e3");
            $("div.eachCategory[cid=" + cid + "] a").css("color", "#000");
            $("div.productsAsideCategorys[cid=" + cid + "]").hide();
        }

        $(function () {
            $("div.eachCategory").mouseenter(function () {
                var cid = $(this).attr("cid");
                showProductsAsideCategorys(cid);
            });
            $("div.eachCategory").mouseleave(function () {
                var cid = $(this).attr("cid");
                hideProductsAsideCategorys(cid);
            });
            $("div.productsAsideCategorys").mouseenter(function () {
                var cid = $(this).attr("cid");
                showProductsAsideCategorys(cid);
            });
            $("div.productsAsideCategorys").mouseleave(function () {
                var cid = $(this).attr("cid");
                hideProductsAsideCategorys(cid);
            });

            $("div.rightMenu span").mouseenter(function () {
                var left = $(this).position().left;
                var top = $(this).position().top;
                var width = $(this).css("width");
                var destLeft = parseInt(left) + parseInt(width) / 2;
                $("img#catear").css("left", destLeft);
                $("img#catear").css("top", top - 20);
                $("img#catear").fadeIn(500);

            });
            $("div.rightMenu span").mouseleave(function () {
                $("img#catear").hide();
            });

            var left = $("div#carousel-of-product").offset().left;
            $("div.categoryMenu").css("left", left - 20);
            $("div.categoryWithCarousel div.head").css("margin-left", left);
            $("div.productsAsideCategorys").css("left", left - 20);


        });
    </script>


</div>


</body>
</html>