<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head th:include="layout :: htmlhead" th:with="title='Home'">
    <meta charset="UTF-8"/>
    <title>BUY</title>


</head>

<body>
<div layout:fragment="content">
    <div class="payedDiv">
        <div class="payedTextDiv">
            <img src="/img/site/paySuccess.png"/>
            <span>您已成功付款</span>

        </div>
        <div class="payedAddressInfo">
            <ul>
                <li th:text="|收货地址: ${order.address} ${order.receiver} ${order.mobile}|">收货地址：</li>
                <li>实付款：<span class="payedInfoPrice" th:text="|￥ ${#numbers.formatDecimal(order.total, 0 ,2)}|"/></li>
                    <!--
                    			￥<fmt:formatNumber type="number" value="${param.total}" minFractionDigits="2"/>

                    -->

                <li>预计08月08日送达</li>
            </ul>

            <div class="paedCheckLinkDiv">
                您可以
                <a class="payedCheckLink" href="forebought">查看已买到的宝贝</a>
                <a class="payedCheckLink" href="forebought">查看交易详情 </a>
            </div>

        </div>

        <div class="payedSeperateLine">
        </div>

        <div class="warningDiv">
            <img src="/img/site/warning.png"/>
            <b>安全提醒：</b>下单后，<span class="redColor boldWord">用QQ给您发送链接办理退款的都是骗子！</span>不存在系统升级，订单异常等问题，谨防假冒客服电话诈骗！
        </div>

    </div>
</div>
</body>
</html>