<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
<div th:fragment="top">

    <nav class="top ">
        <div class="top_middle">

            <a th:href="@{/service-product/}">
                <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-home redColor"></span>
                商城首页
            </a>

            <span>欢迎来到sky商城</span>


            <div th:if="${session.user != null}" th:remove="tag">
                <a th:text="${session.user.split(' ')[1]}" th:href="@{/service-user/toLogin}"></a>
                <a th:href="@{/service-user/logout}">退出</a>
            </div>

            <div th:if="${session.user == null}" th:remove="tag">
                <a th:href="@{/service-user/toLogin}">请登录</a>
                <a th:href="@{/service-user/toRegister}">免费注册</a>
            </div>


            <span class="pull-right">
                <a th:href="@{/service-user/toLogin}" th:if="${session.user == null}">我的订单</a>
			    <a th:href="@{/service-order/orders}" th:if="${session.user != null}">我的订单</a>

			    <a th:href="@{/service-order/shoppingCart}" th:if="${session.user != null}">
			        <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>
			            购物车
                </a>
			    <a th:href="@{/service-user/toLogin}" th:if="${session.user == null}">
			        <span style="color:#C40000;margin:0px" class=" glyphicon glyphicon-shopping-cart redColor"></span>
			            购物车
                </a>

		    </span>
        </div>
    </nav>
</div>
</body>
</html>

