<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{/js/jquery/2.0.0/jquery.min.js}"></script>
    <link th:href="@{/css/bootstrap/3.3.6/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap/3.3.6/bootstrap.min.js}"></script>
    <link th:href="@{/css/fore/style.css}" rel="stylesheet"/>

</head>

<body th:fragment="footer">


<div id="footer" class="footer" style="display: block;">

    <div id="footer_ensure" class="footer_ensure">
        <a href="#nowhere">
            <img src="/img/site/ensure.png"/>
        </a>
    </div>

    <div class="horizontal_line">
    </div>

    <div id="footer_desc" class="footer_desc">
        <div class="descColumn">
            <span class="descColumnTitle">购物指南</span>
            <a href="#nowhere">免费注册</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">保障</span>
            <a href="#nowhere">发票保障</a>
            <a href="#nowhere">售后规则</a>
            <a href="#nowhere">缺货赔付</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">支付方式</span>
            <a href="#nowhere">快捷支付</a>
            <a href="#nowhere">信用卡</a>
            <a href="#nowhere">货到付款</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">商家服务</span>
            <a href="#nowhere">商家入驻</a>
            <a href="#nowhere">商家中心</a>
            <a href="#nowhere">物流服务</a>
            <a href="#nowhere">运营服务</a>
        </div>
        <div class="descColumn">
            <span class="descColumnTitle">手机登录</span>
            <a href="#nowhere"><img src="/img/site/ma.png"/></a>
        </div>

    </div>

    <div style="clear:both"></div>


    <div id="copyright" class="copyright">
        <div class="coptyrightMiddle">
            <!-- <img id="cateye" class="cateye" src="/img/site/cateye.png"/> -->
            <div class="white_link">
                <a href="#nowhere" style="padding-left:0px">关于Sky</a>
                <a href="#nowhere"> 帮助中心</a>
                <a href="#nowhere">开放平台</a>
                <a href="#nowhere"> 诚聘英才</a>
                <a href="#nowhere">联系我们</a>
                <a href="#nowhere">网站合作</a>
                <a href="#nowhere">法律声明</a>
                <a href="#nowhere">知识产权</a>
                <a href="#nowhere"> 廉正举报 </a>
            </div>

            <div class="license">
                <span>增值电信业务经营许可证： 浙B2-xxxxxxxx</span>
                <span>网络文化经营许可证：浙网文[2017]xxxx-xxx号</span>
                <span>互联网医疗保健信息服务 审核同意书 浙卫网审【xxxx】6号 </span>
                <span>互联网药品信息服务资质证书编号：浙-（经营性）-xxxx-xxxx</span>
                <div class="copyRightYear">&copy; 2003-2018 SKY.COM 版权所有</div>
                <div>
                    <img src="/img/site/copyRight1.jpg"/>
                    <img src="/img/site/copyRight2.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {

        $("div#footer a[href$=#nowhere]").click(function () {
            alert("时间不足，这个功能暂时没有做啊！哈哈O(∩_∩)O哈哈~");
        });


        $("a.wangwanglink").click(function () {
            alert("模仿旺旺的图标，并不会打开旺旺");
        });
        $("a.notImplementLink").click(function () {
            alert("这个功能没做，O(∩_∩)O哈哈~~");
        });

    })

</script>

</body>
</html>